@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: MonumentGroteskMedium;
	src: url("fonts/MonumentGrotesk-Medium.ttf");
}

body {
	font-family: MonumentGroteskMedium !important;
	
}

#top-header p {
	font-family: MonumentGroteskMedium;
}