@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: MonumentGroteskMedium;
	src: url("fonts/MonumentGrotesk-Medium.ttf");
}

body {
	font-family: MonumentGroteskMedium, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}

#top-header {
	align-content: center;
	background-color: #002E5D;
	display: flex;
	justify-content: space-around;
}

#top-header p {
	color: white;
}

header {
		padding: 30px;
	background-color: #231F20;
}

.logo-box img {
	width: 20%;
}

.logo-box img:nth-child(2) {
	width: 15%;
}

header ul {
	color: white;
	list-style: none;
	display: flex;
	float: right;
	margin-top: -120px;
}

header ul li {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
}

header ul li a {
	color: white;
	text-decoration: none;
}

header ul li i {
	margin-right: 15px;
	font-size: 25px;
}

nav {
	background-color: #231F20;
	margin-top: -30px;
}

nav ul {
	list-style: none;
	display: flex;
	color: white;
	font-size: 30px;
}

nav ul li {
	margin-right: 40px;
}

nav ul li i {
	margin-left: 7px;
}
.xmas-sale {
	position: relative;
	margin-top: -30px;
}

.xmas-sale h1 {
	position: absolute;
	margin-top: -550px;
	z-index: 1;
	font-size: 40px;
	margin-left: 90px;
	font-weight: 100;

}

.xmas-sale a {
	position: absolute;
	margin-top: 350px;
	z-index: 1;
		font-size: 25px;
	margin-left: -1360px;
	text-decoration: none;
	color: #002E5D;
}

.xmas-sale img {
	width: 100%;
}



.overlay {
	position: absolute;
	z-index: 1;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(2,0,36,0) 100%);
	width: 100%;
	height: 91%;
}

.yarn-sale {
	position: relative;
	margin-top: -70px;
	width: 100%;
}

.yarn-sale h1 {
	position: absolute;
	margin-top: -550px;
	z-index: 1;
	font-size: 40px;
	margin-left: 990px;
	font-weight: 100;
	
}

.yarn-sale a {
	position: absolute;
	margin-top: 350px;
	z-index: 1;
	font-size: 25px;
	margin-left: -120px;
	text-decoration: none;
	color: #002E5D;
}

.yarn-sale img {
	width: 100%;
	  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
	margin-left: -300px;
	
}

.overlay-reverse {
	position: absolute;
	z-index: 1;
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(2,0,36,0) 30%, rgba(255,255,255,0.4885844748858448) 40%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
	width: 100%;
	height: 100%;
}
/*
.slider-btn-back {
	z-index: 1;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(2,0,36,0) 100%);
	position: absolute;
	margin-left: -1400px;
	width: 10%;
	font-size: 80px;
	text-align: center;
	padding-top: 70px;
	color: rgba(35,31,32,1.00);
}

.slider-btn-forward {
	z-index: 1;
	background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 100%);
	position: absolute;
	height: 570px;
	width: 10%;
	font-size: 80px;
	text-align: center;
	padding-top: 70px;
	color: rgba(35,31,32,1.00);
	margin-top: -541px;
	margin-left: 1400px;
}
*/
.slider-img {
	width: 25%;
	margin: 0px, 40px, 0, 40px;
	position: relative;
	overflow: hidden;
	margin-left: 60px;	
}

.sale-ribbon {
	position: absolute;
	right: 0;
	top: 0;
	background-color: #ED571C;
	padding 0 2em;
	color: white;
	text-align: center;
	inset: 0 auto auto 0;
  	transform-origin: bottom right top left;
  	transform: translate(-29.3%) rotate(-45deg);
	width: 120px;

}

.carousel-slider {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 100px;
	padding: 0px;
}



.slider-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-img h3 {
	margin-top: -20px;
	margin-bottom: 40px;
	font-size: 15px;
}

.slider-img i {
	float: right;
	font-size: 50px;
	margin-top: -110px;
	margin-right: 10px;
}

.overlay-1 {
	position: absolute;
	z-index: 1;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(2,0,36,0) 100%);
	width: 100%;
	height: 100%;
}

.sewing-machine {
	position: relative;
	margin-top: -70px;
}

.sewing-machine h1 {
	position: absolute;
	margin-top: -550px;
	z-index: 1;
	font-size: 40px;
	margin-left: 90px;
	font-weight: 100;
	width: 40%;
	line-height: 60px;
	

}

.sewing-machine a {
	position: absolute;
	margin-top: 520px;
	z-index: 1;
		font-size: 25px;
	margin-left: -1200px;
	text-decoration: none;
	color: #002E5D;
}

.sewing-machine img {
	width: 100%;
}

.recipe-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 30px;
	margin-bottom: 20px;
}

.recipe-section article {
	margin-left: 30px;
}

.recipe-section img {
	width: 100%;
}

.recipe-section h2 {

	margin-top: 5px;
	line-height: 40px;
	font-weight: 100;
	font-size: 25px;
}

.recipe-section p {
	margin-top: -10px;
	margin-bottom: -10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 430px;
	

	
}

.recipe-section a {
	font-size: 25px;
		text-decoration: none;
	color: #002E5D;
	margin-left: 20px;
}

.keeping-warm {
	position: relative;
	width: 100%;
	
}

.keeping-warm h1 {
		position: absolute;
	margin-top: -450px;
	z-index: 1;
	font-size: 40px;
	margin-left: 990px;
	font-weight: 100;
}

.keeping-warm a {
		position: absolute;
	margin-top: 300px;
	z-index: 1;
	font-size: 25px;
	margin-left: 150px;
	text-decoration: none;
	color: #002E5D;
}

.keeping-warm img {
	width: 100%;
	margin-left: -550px;
}

.xmas-section {
		display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 30px;
	margin-bottom: 20px;
}

.xmas-section article {
	margin-left: 30px;
}

.xmas-section img {
	width: 100%;
}

.xmas-section h2 {
		margin-top: 5px;
	line-height: 40px;
	font-weight: 100;
	font-size: 25px;
}

.xmas-section p {
		margin-top: -10px;
	margin-bottom: -10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 430px;
}

.xmas-section a {
		font-size: 25px;
		text-decoration: none;
	color: #002E5D;
	margin-left: 20px;
}

.xmas-deco {
		position: relative;
	margin-top: -70px;
}

.xmas-deco img {
	width: 100%;
}

.xmas-deco h1 {
		position: absolute;
	margin-top: -550px;
	z-index: 1;
	font-size: 40px;
	margin-left: 90px;
	font-weight: 100;
	width: 40%;
	line-height: 60px;
}

.xmas-deco a {
		position: absolute;
	margin-top: 420px;
	z-index: 1;
		font-size: 25px;
	margin-left: -1300px;
	text-decoration: none;
	color: #002E5D;
}

.overlay-2 {
		position: absolute;
	z-index: 1;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(2,0,36,0) 100%);
	width: 100%;
	height: 98%;
}

.design-contest {
	margin-top: -44px;
	background: linear-gradient(90deg, rgba(72,159,223,1) 0%, rgba(255,255,255,1) 100%);
	padding-left: 40px;
	padding-right: 500px;
	padding-top: 30px;
	padding-bottom: 40px;

}

.design-contest h1 {
	font-size: 40px;
	font-weight: 100;
}

.design-contest h2 {
		font-weight: 100;
}



.design-contest p {
	margin-top: -30px;
}

.design-contest a {
	color: #002E5D;
	text-decoration: none;
	font-size: 30px;
	-webkit-text-stroke: 1px white;
}

.about-section {
	padding-left: 40px;
	padding-right: 400px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.about-section h1 {
	width: 40%;
	line-height: 50px;
	font-weight: 100;
}

.about-section p {
	line-height: 30px;
}

.info-section {
	background-color: #002E5D;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
}

.info-column {
	display: flex;
	flex-direction: column;
	margin-left: 50px;

}

.info-column a {
	color: white;
	text-decoration: none;
	font-size: 25px;
	width: 60%;
	line-height: 60px;
}

footer {
	background-color: #231F20;
	padding: 10px, 30px, 10px, 30px;
}