@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: MonumentGroteskMedium;
	src: url("fonts/MonumentGrotesk-Medium.ttf");
}

body {
	font-family: MonumentGroteskMedium, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	
}

#top-header {
	align-content: center;
	background-color: #002E5D;
	display: flex;
	justify-content: space-around;
}

#top-header p {
	color: white;
}

header {
		padding: 30px;
	background-color: #231F20;
}

.logo-box img {
	width: 20%;
}

.logo-box img:nth-child(2) {
	width: 15%;
}

header ul {
	color: white;
	list-style: none;
	display: flex;
	float: right;
	margin-top: -120px;
}

header ul li {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 20px;
}

header ul li a {
	color: white;
	text-decoration: none;
}

header ul li i {
	margin-right: 15px;
	font-size: 25px;
}

nav {
	background-color: #231F20;
	margin-top: -30px;
}

nav ul {
	list-style: none;
	display: flex;
	color: white;
	font-size: 30px;
}

nav ul li {
	margin-right: 40px;
}

nav ul li i {
	margin-left: 7px;
}
.xmas-sale {
	position: relative;
	margin-top: -30px;
}

.xmas-sale h1 {
	position: absolute;
	margin-top: -550px;
	z-index: 1;
	font-size: 40px;
	margin-left: 90px;
	font-weight: 100;

}

.xmas-sale a {
	position: absolute;
	margin-top: -450px;
	z-index: 1;
	font-size: 25px;
	margin-left: 160px;
	text-decoration: none;
	color: #002E5D;
}

.xmas-sale img {
	width: 100%;
}



.overlay {
	position: absolute;
	z-index: 1;
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(2,0,36,0) 100%);
	width: 100%;
	height: 96.8%;
}

.yarn-sale {
	position: relative;
	margin-top: -70px;
	width: 100%;
}

.yarn-sale h1 {
	position: absolute;
	margin-top: -550px;
	z-index: 1;
	font-size: 40px;
	margin-left: 90px;
	font-weight: 100;
	display: flex;
	justify-content: flex-start;
	margin-right: 90px;
}

.yarn-sale a {
		position: absolute;
	margin-top: -450px;
	z-index: 1;
	font-size: 25px;
	margin-left: 160px;
	text-decoration: none;
	color: #002E5D;
}

.yarn-sale img {
	width: 100%;
}
